<div class="container mx-auto h-[100vh]">
  <div class="min-h-full flex justify-center items-center">
    <div class="h-[60%] bg-[#f5f6f8] w-[40%] p-4 rounded shadown-md">
      <h2 class="text-4xl text-center mb-4">Gerador de Senha</h2>
      <div>
        <label for="">Qtd de Linhas:</label>
        <input
          type="text"
          #box
          (keyup)="qtdCharacter = box.value"
          class="border-[0.25px] border-gray-500 rounded ml-4 mb-4"
        />
      </div>
      <div class="flex justify-between">
        <div>
          <label for="">Use Letras</label>
          <input type="checkbox" (change)="includeLetters = !includeLetters" />
        </div>
        <div>
          <label for="">Use Números</label>
          <input type="checkbox" (change)="includeNumbers = !includeNumbers" />
        </div>
        <div>
          <label for="">Use Símbolos</label>
          <input type="checkbox" (change)="includeSymbols = !includeSymbols" />
        </div>
      </div>
      <div class="flex justify-end mt-4">
        <button
          [disabled]="
            !(
              qtdCharacter &&
              (includeNumbers || includeLetters || includeSymbols)
            )
          "
          (click)="GerarSenha()"
          class="bg-[#93bd15] text-white p-2 rounded shadown"
        >
          Gerar Senha
        </button>
      </div>
      <div>
        <label for="" class="text-center">Sua Senha</label>
        <div class="bg-gray-300 min-h-[80px]">
          <p class="text-center text-4xl break-words">{{ password }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
